/* @override http://localhost:3000/stylesheets/layout.css?1309134588 
	http://localhost:3000/stylesheets/layout.css
*/

body {
	background-color: #f0f1e3;
}

div#main.wrapper {
	padding: 10px;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	background-color: white;
	overflow: auto;
}

div#sidebar {
	float: left;
	width: 270px;	
}

#sidebar h2 {
	font-size: 34px;
	color: #a75d34;
	margin: 0px;
	font-family: 'Sue Ellen Francisco', arial, serif;
	height: 50px;
}

ul#queue {
	padding: 0;	
	margin: 0px;
	margin-top: 10px;
}
ul#queue li {
	padding: 8px 9px;
	background-color: #f6f4e1;
	font: 14px Georgia, "Times New Roman", Times, serif;
	color: #a75d34;
	border-bottom: 1px solid #dad9c8;
	list-style: none;
}

ul#queue li:hover {
	background-color: #e4e2d0;
}

.spinner {
	width: 40px;
	margin: 20px auto;
	margin-bottom: 0px;
}

ul#queue li a {
	margin-left: 10px;
	color: #baa2ab;
}
ul#results {
	padding: 0;
	height: 200px;
	overflow: scroll;
	margin: 0px;

}
ul#results li {
	padding-bottom: 5px;
	padding-top: 5px;
	overflow: auto;
	border-bottom: 1px solid #e7e7e7;
}

ul#results li img {
	float: left;
	margin-right: 5px;
	width: 100px;
}

ul#results li a {
	color: #a75d34;
	text-decoration: none;
	font: 12px Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}

#footer p {
	text-align: center;
	font-size: 11px;
	color: #3d3d3d;
}
#footer p a {
	color: #df7246;
	text-decoration: none;
}

div#status {
	padding: 10px;
	background-color: #f2daa4;
	overflow: hidden;
	height: 20px;
	text-align: right;
}

div#status span {
	color: #fff;
	font-size: 35px;
	margin-right: 10px;
}

div#status span#current {
	margin: 0px;
	color: #fef395;
}

div#status span#total_duration {
	color: #a05a33;
}

div#content_column {
	float: left;
	margin-right: 10px;
	overflow: auto;
}


#vidplayer {
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #bfac81;
	width: 600px;
}

#header h1 {
	background-image: url(../images/logo.png);
	height: 90px;
	width: 300px;
	text-indent: -9999px;
	margin: 0px;
}

#header h2 {
	display: none;
}

.wrapper {
	width:  920px;
	margin: 0px auto;
}

div {
	font: 16px Georgia, "Times New Roman", Times, serif;
	color: #575757;
}