/* @override http://localhost:3000/stylesheets/layout.css?1309134588 */

body {
	background-color: #f0f1e3;
}

#header h1 {
	background-image: url(../images/logo.png);
	height: 90px;
	width: 300px;
	text-indent: -9999px;
}