
= @current_room

#content_column
  #vidplayer
    / You need Flash player 8+ and JavaScript enabled to view this video.
  .meta
    #song_title
  .controls
    %a#down{:href=>""} Less loud please!
    %a#up{:href=>""} Bring it on!
#sidebar

  %h2 Current playlist
  .spinner= image_tag "spinner.gif"
  %ul#queue
    - @songs.each do |song|
      %li{:id => "song_#{song.youtube_id}"}
        = song.title
        %small
          %a.remove_from_playlist{:href => '#', :id => song.id} Remove

  %h2 Search to select a new one
  %form#video_search
    %p
      %input{:type => "text", :name => "query", :id => "query"}
      %input{:type => "submit", :value => "Buscar"}
  %ul#results
